
html{
  min-height: 100%;
}

body {
  min-height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background: linear-gradient(45deg, #7d0928, #962521, #ad3e0f, #c15900, #d27500, #de9200, #e6b100, #e8d103);
  color: rgb(0, 0, 0);
  font-family: "Impact";
}

a {
  color:rgb(0, 0, 0);
}

.main-container {
  max-width: 640px;
  margin: auto;
}
.item {
  background-color: aqua;
  margin-bottom: 20px;
  display:flex;
  align-items: center;
}
.thumbnail {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  object-fit: cover;
}
.avatar-image {
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 128px;
}

.image-row {
  margin-bottom: 20px;
  text-align: center;
}

.name-row {
  margin-bottom: 30px;
  text-align: center;
}

.social-icons-row {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
}

.link-text {
  text-align: center;
  flex-grow: 1;
}
