
html{
  min-height: 100%;
}

body {
  min-height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background: linear-gradient(45deg, #7d0928, #962521, #ad3e0f, #c15900, #d27500, #de9200, #e6b100, #e8d103);
  color: rgb(0, 0, 0);
}

a {
  color:rgb(0, 162, 255);
}

.item {
  background-color: rgba(132, 0, 255, 0.50);
}
.thumbnail {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  object-fit: cover;
}
.avatar-image {
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 128px;
}
